.contact-form{
    text-align: center;
    background-color: #67defc;
    padding: 30px 0px;
  }

.form input{
    width: 50%;
    margin: 10px 20%;
    padding: 10px;
    border-radius: 5px;
    border: none;

}
.form textarea{
    width: 50%;
    margin: 10px 20%;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.contact-btn{
    margin: 30px;
    width: 20%;
}