.contact-form{
    text-align: center;
    background-color: rgb(80, 80, 80);
    padding: 80px 0px;
  }

.form input{
    width: 50%;
    margin: 10px 20%;
    padding: 10px;
    border-radius: 5px;
    border: none;

}
.form textarea{
    width: 50%;
    margin: 10px 20%;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.contact-btn{
    margin: 30px;
    width: 20%;
}
.contact-btn:focus{
    background-color: greenyellow;
}